<h3>Users</h3>

<table class="table table-striped">
    <thead><tr>
        <th>Edit</th>
        <th>id</th>
        <th>name</th>
        <th>pwd</th>
    </tr></thead>
    <tbody>
    <tr ng-repeat="user in users track by user.USER_ID
    | paging:currentPage*listsPerPage | limitTo:listsPerPage">
        <td>
            <button class="btn" ng-click="editUser(user.USER_ID)">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
            </button>
        </td>
        <td>{{ user.USER_ID }}</td>
        <td>{{ user.USER_NAME }}</td>
        <td>{{ user.USER_PWD }}</td>
    </tr></tbody>

</table>
<nav>
    <ul class="pagination">
        <li>
            <a ng-click="Previous()">
                <span>上一页</span>
            </a>
        </li>
        <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
            <a ng-click="selectPage(page)" >{{ page }}</a>
        </li>
        <li>
            <a ng-click="Next()">
                <span>下一页</span>
            </a>
        </li>
    </ul>
</nav>