<h3>Users</h3>

<table class="table table-striped">
    <thead><tr>
        <th>Edit</th>
        <th>id</th>
        <th>name</th>
        <th>pwd</th>
    </tr></thead>
    <tbody><tr ng-repeat="user in users track by user.USER_ID">
        <td>
            <button class="btn" ng-click="editUser(user.USER_ID)">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
            </button>
        </td>
        <td>{{ user.USER_ID }}</td>
        <td>{{ user.USER_NAME }}</td>
        <td>{{ user.USER_PWD }}</td>
    </tr></tbody>
</table>